code {
    font-family: inherit;
    background-color: rgba(214, 202, 165, 0.2);
    padding: 1px 2px;
    border: 1px solid rgba(214, 202, 165, 0.5);
    font-size: 16px;
}

.previewer-main {
    width: 100%;
    height: 100%;
    line-height: 1.6;
    background-color: #fff;
    font-size: 18px;
    border-right: 1px solid #efefef;
}

.previewer-main #toc-switch.focus {
    color: rgba(201, 69, 54, 1);
}

.previewer-enity {
    padding: 20px;
    overflow-y: auto;
}

.previewer-main hr {
    color: rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}

.previewer-main h1, .previewer-main h2, .previewer-main h3, .previewer-main h4, .previewer-main h5 {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.previewer-main img {
    max-width: 100%;
}

.previewer-main pre {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
    background-color: #efefef;
    font-family: inherit;
    margin-bottom: 1rem;
}

.previewer-main pre code {
    font-family: inherit;
    background-color: transparent;
    border: 0;
}

.previewer-main dl, .previewer-main ol, .previewer-main ul {
    margin-left: 25px;
}

.previewer-main p {
    line-height: 1.6;
}

.previewer-main blockquote {
    border-left: 5px solid #efefef;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-bottom: 1rem;
}

.previewer-main blockquote p {
    margin: 0;
}

.previewer-empty {
    width: 100%;
    height: 100%;
    justify-content:center;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.1);
    align-items: center;
}

.previewer-empty-text {
    font-size: 16px;
    display: block;
}
