.previewer-main {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-size: 18px;
}

.previewer-enity {
    padding: 20px;
    overflow-y: auto;
}

.previewer-main h1, .previewer-main h2 {
    margin-bottom: 1rem;
    line-height: 1.5;
}

.previewer-main img {
    max-width: 100%;
}

.previewer-main pre {
    width: 100%;
    border: 1px solid #eee;
    padding: 10px;
    background-color: #efefef;
}

.previewer-main dl, .previewer-main ol, .previewer-main ul {
    margin-left: 25px;
}

.previewer-main p {
    line-height: 1.6;
}

.previewer-empty {
    width: 100%;
    height: 100%;
    justify-content:center;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.1);
    align-items: center;
}

.previewer-empty-text {
    font-size: 16px;
    display: block;
}
