.notes-main {
    height: 100%;
    background-color: rgba(214, 202, 165, 0.1);
    color: rgba(0, 0, 0, 0.5);
}

.notes-header {
    padding: 14px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.notes-header-right {
    text-align: right;
}

.notes-header:hover {
    /* color: rgba(255, 255, 255, 1); */
    color: rgba(0, 0, 0, 0.8);
}

.notes-header svg {
    cursor: pointer;
}

.notes-items {
    overflow-y: auto;
    height: 100%;
}

.notes-item {
    padding: 10px;
    line-height: 1.6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    word-break:break-all;
}

.notes-item.focus {
    background-color: rgba(214, 202, 165, 0.2);
    color: rgba(0, 0, 0, 0.7);
}

.notes-item:hover {
    background-color: rgba(214, 202, 165, 0.2);
    color: rgba(0, 0, 0, 0.7);
}

.notes-empty {
    color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}