.editor-main {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #efefef;
}

.editor-title {
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #efefef;
    font-size: 30px;
    font-weight: 700;
}

.editor-content {
    padding: 10px 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 0;
    resize:none;
    font-size: 18px;
}
